{% extends 'default.html' %}

{% block title %}Password{% endblock %}

{% block content %}

    <h1>Пароль</h1>

    <div class="login-form">

        <p><b>Для изменения пароля заполните данные.</b></p>

        <form action="." method="post">
            {{ form.as_p }}
            <p>
                <button class="submit" style="padding: 10px 20px;">Изменить</button>
            </p>
            {% csrf_token %}
        </form>

    </div>

{% endblock %}

{% block footer %}
    <div id="footer">Skillfactory 2023</div>
{% endblock %}
