{% extends 'default.html' %}

{% block title %}Register{% endblock %}

{% block content %}

    <h1>Регистрация</h1>

    <div class="login-form">

        <p><b>Для регистрации введите данные:</b></p>

        <form action="." method="post">
            {{ user_form.as_div }}
            {% csrf_token %}
            <p>
                <button class="submit" style="padding: 10px 20px;">Регистрация</button>
            </p>
        </form>

    </div>

{% endblock %}

{% block footer %}
    Skillfactory 2023
{% endblock %}
