{% extends 'default.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="login-form">

        {% if new_user.first_name or new_user.last_name %}
            <h1>Привет, {{ new_user.first_name }} {{ new_user.last_name }}!</h1>
        {% else %}
            <h1>Привет, {{ new_user.username }}!</h1>
        {% endif %}
        <p>Ваш аккаунт создан. Теперь Вы можете <a href="{% url 'login' %}">войти</a>.</p>

    </div>

{% endblock %}

{% block footer %}
    <div id="footer">Skillfactory 2023</div>
{% endblock %}
