{% extends 'default.html' %}

{% block title %}Chat{% endblock %}

{% block content %}

    <form method="post" action=".">
        {% csrf_token %}

        <h1>Выбор чата</h1>

        <!-- заголовки колонок -->
        <div class="field-header">
            <div class="row-flex">
                <div class="column-flex-header"><b>Группы</b></div>
                <div class="column-flex-header"><b>Контакты</b></div>
            </div>
        </div>

        <div class="field">
            <div class="row-flex">
                <!-- группы -->
                <div class="column-flex-field">
                    {% for group in groups %}
                        <a href="#" class="user-list-item" onclick="group_click(id={{ group.id }})">
                            <b>{{ group.name }}</b>
                        </a><br>
                    {% endfor %}
                </div>
                <!-- пользователи -->
                <div class="column-flex-field">
                    {% for user in users %}
                        <a href="#" class="user-list-item" onclick="user_click(id={{ user.id }})">
                            <div class="list-item">
                                <div class="list-item-content">
                                    <!-- фото / аватар -->
                                    <div class="list-item-photo">
                                        {% if user.profile.photo %}
                                            <span class="circle-image_small">
                                                <img src="/media/{{ user.profile.photo }}" alt="photo">
                                            </span>
                                        {% else %}
                                            <div class="avatar_small">{{ user.username.0.upper }}</div>
                                        {% endif %}&nbsp;
                                    </div>
                                    <!-- пользователь -->
                                    <div class="list-item-user"><b>
                                        {% if user.first_name or user.last_name %}
                                            {{ user.first_name }} {{ user.last_name }}
                                        {% else %}
                                            {{ user.username }}
                                        {% endif %}</b><br>
                                        <span style="font-size: 10px;">Заходил: {{ user.last_login|date:"d.m.Y, H:i:s" }}</span>
                                    </div>

                                </div>
                            </div>
                        </a><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form><br>
    <hr>
{% endblock %}

{% block script %}

    <!-- создать элемент из текущего пользователя -->
    {{ current_user.id|json_script:"json-current" }}

    <script>
        // получить id текущего пользователя
        const currentId = JSON.parse(document.getElementById('json-current').textContent);
        console.log(currentId)

        // обработать нажатие группы
        function group_click(id) {
            let roomName = 'group_' + id
            console.log(roomName)
            window.location.pathname = '/room/' + roomName + '/';
        }

        // обработать нажатие пользователя
        function user_click(contrId) {
            let roomName = 'group_'
            Number(contrId) < Number(currentId) ? roomName += contrId + '_' + currentId : roomName += currentId + '_' + contrId
            window.location.pathname = '/room/' + roomName + '/';
        }
    </script>
{% endblock %}

{% block footer %}
    просмотр списка групп и пользователей с переходом на отправку им сообщений
{% endblock %}
