{% extends 'default.html' %}

{% block title %}Room{% endblock %}

{% block content %}

    <!-- фото или аватар -->
    {% if photo %}
        <span class="circle-image_large">
            <img src="/media/{{ photo }}" alt="photo">
        </span>
    {% else %}
        {% if current_group %}
            <div class="avatar_large">{{ current_group.0.upper }}</div>
        {% else %}
            <div class="avatar_large">{{ contr_name.0.upper }}</div>
        {% endif %}
    {% endif %}

    <!-- имя группы или пользователя -->
    <h1>{% if current_group %}
        {{ current_group }}
    {% else %}
        {{ contr_name }}
    {% endif %}</h1>

    <!-- лог чата -->
    <div id="chat-log">
        {% for report in reports %}
            <div id="chat-box"
                {% if report.user.username == current_user %}
                    class="chat-right"
                {% else %}
                    class="chat-left"
                {% endif %}
            >
                {% if current_group and current_user != report.user.username %}
                    <span id="chat-name">
                        {% if report.user.first_name or report.user.last_name %}
                            {{ report.user.first_name }} {{ report.user.last_name }}
                        {% else %}
                            {{ report.user.username }}
                        {% endif %}
                    </span><br>
                {% endif %}
                <span class="chat-text">{{ report.content }}</span><br>
                <div id="chat-time">{{ report.date_added|date:"d.m.Y, H:i:s" }}</div>
            </div>
        {% endfor %}
    </div><br>
    <hr>

    <!-- ввод сообщения -->
    <div style="display: flex">
        <input type="text" name="content" class="text-input" placeholder="Введите сообщение..." id="chat-message-input">
    </div>

    <!-- создать элементы для js -->
    {{ current_user|json_script:"current-user" }}
    {{ current_group|json_script:"current-group" }}
    {{ room_name|json_script:"room-name" }}
    {{ group_name|json_script:"group-name" }}
    {{ request.user.username|json_script:'user-name' }}
    {{ request.user.first_name|json_script:'first-name' }}
    {{ request.user.last_name|json_script:'last-name' }}
{% endblock %}

{% block script %}
    <script>

        // получить значения элементов
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const groupName = JSON.parse(document.getElementById('group-name').textContent);
        const userName = JSON.parse(document.getElementById('user-name').textContent);
        const firstName = JSON.parse(document.getElementById('first-name').textContent);
        const lastName = JSON.parse(document.getElementById('last-name').textContent);
        const currentGroup = JSON.parse(document.getElementById('current-group').textContent);
        const currentUser = JSON.parse(document.getElementById('current-user').textContent);

        // создать сокет
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/' + roomName + '/');

        // получено сообщение от бэкэнда через сокет
        chatSocket.onmessage = function (e) {

            // получить текст сообщения
            const data = JSON.parse(e.data);

            // добавить в окно чата

            let style = ' class="'
            // собственное сообщение - справа
            if (data.username === currentUser) {
                style += 'chat-right"';
                // чужое - слева
            } else {
                style += 'chat-left"'
            }

            // определить имя отправителя
            let chatName = ""
            // только для группы
            if (currentGroup) {
                // только для чужих сообщений
                if (data.username !== currentUser) {
                    // определить имя
                    if (data.first_name || data.last_name) {
                        chatName = data.first_name + " " + data.last_name
                    } else {
                        chatName = data.username
                    }
                    chatName = '<span id="chat-name">' + chatName + '</span><br>'
                }
            }

            // получить сообщение
            let chatMessage = '<span class="chat-text">' + data.message + '</span><br>'

            // получить текущую дату
            let today = new Date();
            let now = today.toLocaleString();
            let chatDate = '<span style="font-size: 10px;">' + data.count + '</span>' + '<div id="chat-time">' + now + '</div>'

            // сформировать сообщение
            if (data.message) {
                let html = '<div id="chat-box"' + style + '>' + chatName + chatMessage + chatDate + '</div>'
                document.querySelector('#chat-log').innerHTML += html;
                scrollToBottom();
            } else {
                alert('The message was empty!');
            }
        };

        // сокет закрыт
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        // ввод непосредственно в окне
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            console.log(e.keyCode)
            if (e.keyCode === 13) {  // enter, return
                send_message();
            }
        };

        // отправка сообщения бэкэнду - consumers.ChatConsumer.receive
        send_message = function (e) {

            // получить текст сообщения
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            // отправить сообщение бэкэнду через сокет
            chatSocket.send(JSON.stringify({
                'message': message,
                'group': groupName,
                'username': userName,
                'first_name': firstName,
                'last_name': lastName
            }));
            // очистить окно сообщения
            messageInputDom.value = '';
        };

        // скролл к последнему сообщению
        function scrollToBottom() {
            const objDiv = document.querySelector('#chat-log');
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        scrollToBottom();
    </script>
{% endblock %}

{% block footer %}
    отправка и получение сообщений с использованием идеологии комнат
{% endblock %}
