{% extends 'default.html' %}

{% block title %}Room{% endblock %}

{% block content %}

    <!-- фото или аватар -->
    {% if photo %}
        <span class="circle-image_large">
            <img src="/media/{{ photo }}" alt="photo">
        </span>
    {% else %}
        {% if current_group %}
            <div class="avatar_large">{{ current_group.0.upper }}</div>
        {% else %}
            <div class="avatar_large">{{ contr_name.0.upper }}</div>
        {% endif %}
    {% endif %}

    <!-- имя группы или пользователя -->
    <h1>{% if current_group %}
        {{ current_group }}
    {% else %}
        {{ contr_name }}
    {% endif %}</h1>

    <!-- лог чата -->
    <div id="chat-log">
        {% for report in reports %}
            <div id="chat-box"
                {% if report.user.username == current_user %}
                    class="chat-right"
                {% else %}
                    class="chat-left"
                {% endif %}
            >
                {% if current_group and current_user != report.user.username %}
                    <span id="chat-name">
                        {% if report.user.first_name or report.user.last_name %}
                            {{ report.user.first_name }} {{ report.user.last_name }}
                        {% else %}
                            {{ report.user.username }}
                        {% endif %}
                    </span><br>
                {% endif %}
                <span class="chat-text">{{ report.content }}</span><br>
                <div id="chat-time">{{ report.date_added|date:"d.m.Y, H:i:s" }}</div>
            </div>
        {% endfor %}
    </div><br>
    <hr>

    <!-- ввод сообщения -->
    <div style="display: flex">
        <input type="text" name="content" class="text-input" placeholder="Введите сообщение..." id="chat-message-input">
    </div>

    <!-- получить объекты для js -->
    {{ current_user|json_script:"current-user" }}
    {{ current_group|json_script:"current-group" }}
    {{ contr_name|json_script:"contr-name" }}
    {{ room_name|json_script:"room-name" }}
    {{ group_name|json_script:"group-name" }}
    {{ request.user.username|json_script:'user-name' }}
    {{ request.user.first_name|json_script:'first-name' }}
    {{ request.user.last_name|json_script:'last-name' }}
{% endblock %}

{% block script %}
    <script src="/static/js/update.js"></script>
    <script src="/static/js/room.js"></script>
{% endblock %}

{% block footer %}
    <div id="footer">отправка и получение сообщений с использованием идеологии комнат</div>
{% endblock %}
