{% extends 'default.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <h1>Игорь Ковалев FPW-84</h1>
    <h2>Задание</h2>

    <div>
        <p><b>Ваше задание очень простое:</b></p>
        <p>реализовать базовый мессенджер со следующими функциями:</p>
        <ul>
            <li>отправка и получение сообщений;</li>
            <li>создание, редактирование и удаление групповых чатов и переписка в них (подсказка — управлять чатами
                лучше по REST API, а переписываться так же, как в обычных чатах, но с использованием на сервере
                идеологии «комнат»);</li>
            <li>редактирование личной информации пользователя (имя и аватар);</li>
            <li>просмотр списка других пользователей с переходом на отправку им сообщений.</li>
        </ul>
    </div><hr>
    <p>Для реализации проекта использованы следующие технологии:</p>
    <dl>
        <dt><b>django channels</b></dt><dd>передача сообщений через Winsocket</dd>
        <dt><b>rest framework</b></dt><dd>управление групповыми чатами</dd>
        <dt><b>python bleach</b></dt><dd>фильтрация входящих сообщений</dd>
        <dt><b>pillow</b></dt><dd>работа с изображениями</dd>
        <dt><b>social auth<sup>*</sup></b></dt><dd>авторизация через соцсети</dd>
        <dt><b>PostgreSQL psycopg2<sup>*</sup></b></dt><dd>основная база данных</dd>
        <dt><b>python dotenv<sup>*</sup></b></dt><dd>хранение конфиденциальной информации</dd>
        <dt><b>redis<sup>*</sup></b></dt><dd>хранение промежуточных данных</dd>
        <dt><b>messages<sup>*</sup></b></dt><dd>всплывающие сообщения</dd>
        <dt><b>signals<sup>*</sup></b></dt><dd>внутренняя автоматизация</dd>
    </dl><br>
    <div style="width: 20%"><hr></div>
    <sup>*</sup> - технологии, использованные с целью обучения. Для выполнения задания необходимости в них нет.

{% endblock %}

{% block footer %}
    <div id="footer">Skillfactory 2023</div>
{% endblock %}
